@import "tailwindcss";

@theme {
  --color-primary: #7b3ced;
  --color-primary-light: #a072f9;
  --color-primary-dark: #5c29b3;
}

@layer components {
  .typography {
    color: var(--color-primary);
    color: var(--color-primary-light);
    color: var(--color-primary-dark);
  }
}

@layer utilities {
  .bb {
    border-bottom: 1px solid gray;
  }
  .bg-light-blue {
    background-color: rgb(52, 126, 255);
  }
}
