@import "tailwindcss";

@theme {
  --color-primary: #7b3ced;
}

@layer components {
  .typography {
    color: var(--color-primary);
  }
}

@layer utilities {
  .bb {
    border-bottom: 1px solid gray;
  }
  .bg-light-blue {
    background-color: rgb(52, 126, 255);
  }
}
